.syntax--source.syntax--lua {
  color: @light-primary;

  .syntax--punctuation.syntax--definition.syntax--parameters {
    color:@light-primary !important;
  }

  .syntax--variable {
    color: @color4light;
  }

  .syntax--constant.syntax--numeric {
    color: @color5light;
  }

  .syntax--storage.syntax--type.syntax--function {
    color: @blue;
  }
}
