@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @very-light-primary;
@syntax-cursor-color: white;
@syntax-selection-color: darken(@dark-primary, 3%);
@syntax-background-color: @very-dark-primary;

// Guide colors
@syntax-wrap-guide-color: @dark-primary;
@syntax-indent-guide-color: #28323a;
@syntax-invisible-character-color: @primary;

// For find and replace markers
@syntax-result-marker-color: @light-primary;
@syntax-result-marker-color-selected: white;

// Gutter colors
@syntax-gutter-text-color: @light-primary;
@syntax-gutter-text-color-selected: @syntax-gutter-text-color;
@syntax-gutter-background-color: @very-dark-primary;
@syntax-gutter-background-color-selected: @primary;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @green;
@syntax-color-modified: @orange;
@syntax-color-removed: @red;
